
$white:                     #fff;
$black:                     #000;
$blue:                      #083671;
$gray:                      #ccc;

$cornflower-blue:           #5A9AE4;
$boulder:                   #797979;
$alto:                      #CECECE;
$bright-sun:                #FFD541;




$base-font-sans-serif:          'Inter', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif:               'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$base-font-family:              'Inter', sans-serif;
$secondary:                     'passionsanspdaebook', sans-serif;

// Body
$base-text-color:           $black !default;
$base-background-color:     $white !default;
$base-font-size:            16px !default;
$base-line-height:          1.2 !default;
$base-font-family:          $base-font-sans-serif !default;

$vertical-rhythm:           ($base-line-height * 1em);

$base-min-width:            320px;

// Liks
$base-link-color:           $blue;



$animation-speed: 0.3s;


// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $boulder;

// Headers
$h1-font-size: 30px !default;
$h2-font-size: 27px !default;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;
