

#footer {
  padding: 20px 0;
  text-align: center;
  @include media('>=tablet') {
    text-align: left;
    font-size: 20px;
    line-height: 24px;
  }

  .container {
    
    @include media('>=tablet') {
      display: flex;
      justify-content: space-between;
    }
  }

  span {
    display: block;
    margin-bottom: 10px;
    @include media('>=tablet') {
      margin: 0;
    }
  }
}